h1 {
    text-align: center;
    margin: 0;
}
h3 {
    text-align: center;
    margin: 0;
}
header  nav ul{
    text-align: center;
}
header nav ul li {
    display: inline;
}

aside .project-cards {
    flex-direction: coloumn;
    box-orient: veritcal;
    justify-content: center;
    align-items: center;
    display: flex-wrap;
    padding: 0;
    background-color: grey;
}

aside .project-cards .card {
    flex-wrap: coloumn;
    background-color: grey;
    border: 1px solid grey;
    text-align: center;
}