* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin: 0;
}
h3 {
    text-align: center;
    margin: 0;
}
header  nav ul{
    text-align: center;
}
header nav ul li {
    display: inline;
}

aside .project-cards {
    padding: 5px;
    justify-content: space-evenly;
}

aside .project-cards .card {
    margin: 5px;
    flex-direction: coloumn;
    flex: 1 1 auto;
    align-items: center;

    height: auto;
    max-width: 100%;

}