* {
    box-sizing: border-box;
    background-color: #fff;
}

/* Header */
h1 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    color: #000;
}

/* Nav */
header nav ul {
    background-color: #fff;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    word-spacing: 10px;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    color: #e2e2e2;
    padding: 10px;
    padding-bottom: 10px;
}

.contact-me img {
    width: 80px;
    height: 80px;
}

a:link {
    color: grey;
    text-decoration: none;
    letter-spacing: 2px;
}

a:hover {
    color: #A0A0A0;
}

header nav ul li {
    display: inline;
    color: grey;
}

/* Section/Body */
.about-me {
    float: left;
    width: 60%;
}

/* Aside */
aside {
    float: left;
    text-align: center;
    width: 40%;
}

aside h2 {
    margin: 5px;
}

aside .project-cards {
    padding: 5px;
    justify-content: space-evenly;
}

.card img {
    width: 240px;
    height: 180px;
    max-width: 100%;
    max-height: auto;
    display: block;
    margin: 0 auto;
}

.front-page-intro-image img {
    max-width: 100%;
    max-height: auto;
    display: block;
    margin: 0 auto;
}

aside .project-cards .card {
    margin: 5px;
    flex-direction: coloumn;
    flex: 1 1 auto;
    align-items: center;

    height: auto;
    max-width: 100%;
}

.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}